{% extends "base.html" %}

{% block content %}

<h2>About Evention</h2>
<p>Hi, I'm <a href="http://ericzaporzan.com" target="_blank">Eric</a>. I made a thing. It's pretty alright. Follow it on <a target="_blank" href="https://github.com/EricZaporzan/evention">GitHub</a>.</p>

<h3>How it works</h3>
<p>First you should <a href="{% url 'events:find_bands' %}">search for performers</a> and build up a list of your favourites. </p>
<p>Then you should compile a list of <a href="{% url 'events:find_cities' %}">your favourite cities</a> and places you want to visit.</p>
<p>Finally, hop over to the <a href="{% url 'events:find_events' %}">events page</a> and see what your favourite bands are up to, and when they'll be somewhere you want to visit. Want an excuse to go on vacation? There it is! </p>


{% endblock %}
