{% extends "base.html" %}

{% block content %}

<h2>Welcome to Evention!</h2>
<p>Music and sports, near and far, at your fingertips.</p>
<div>
  <a href="{% url 'events:find_bands' %}" class="btn btn-success">Find artists (beta)</a>
  <a href="{% url 'events:find_sports' %}" class="btn btn-success">Find sports (coming soon)</a>
  <a href="{% url 'events:find_events' %}" class="btn btn-success">Discover events (coming soon)</a>
</div>

<div class="youtube-hero">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="youtube-hero" class="embed-responsive-item"></iframe>
  </div>
  <h3 id="youtube-hero-text"></h3>
</div>

<script>
  // deliver a random YouTube embed to the big-ass frame we set up.
  $(document).ready(function() {
    $.ajax({
        method: 'GET',
        url: '/api/homepage-videos/',
        success: function(response) {
          $("#youtube-hero").attr('src', response[0].embed_url);
          $("#youtube-hero-text").html("Find " + response[0].band + " on Evention!");
        },
        error: function(response) {  // Default this to a set video on error.
          $("#youtube-hero").attr('src', "https://www.youtube.com/embed/yjiJM_Daoa0");
          $("#youtube-hero-text").html("Find " + "The Mountain Goats" + " on Evention!");
        }
    });
  });


</script>

{% endblock %}
