{% extends "base.html" %}

{% block content %}

<h2>Welcome to Evention!</h2>
<p>Music and sports, near and far, at your fingertips.</p>
<div>
  <a href="{% url 'events:find_bands' %}" class="btn btn-success">Find artists (beta)</a>
  <a href="#" class="btn btn-success">Find sports (coming soon)</a>
</div>

<div class="youtube-hero">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="youtube-hero" class="embed-responsive-item"></iframe>
  </div>
</div>

<script>
  // deliver a random YouTube embed to the big-ass frame we set up.
  $(document).ready(function() {
    var rand_youtube = [
      "https://www.youtube.com/embed/bptnhUOG2GU", // Cry for Judas - Mountain Goats
      "https://www.youtube.com/embed/Hc16Y9fiCvQ", // Spaceman - Killers
      "https://www.youtube.com/embed/xQF5xuLrjpY", // Tournament of Hearts - Weakerthans
      "https://www.youtube.com/embed/yjiJM_Daoa0", // Damn These Vampires - Mountain Goats

    ];
    var video_embed = rand_youtube[Math.floor(Math.random()*rand_youtube.length)];
    $("#youtube-hero").attr('src', video_embed);
  });


</script>

{% endblock %}
