{% extends "base.html" %}

{% block content %}

<h2>Welcome to Evention!</h2>
<p>Music, near and far, at your fingertips. <a href="{% url 'about' %}">More info</a>.</p>
<div>
  <a href="{% url 'events:find_bands' %}" class="btn btn-success">Find artists</a>
  <!--<a href="{% url 'events:find_sports' %}" class="btn btn-success">Find sports (coming soon)</a>-->
  <a href="{% url 'events:find_cities' %}" class="btn btn-success">Choose cities</a>
  <a href="{% url 'events:find_events' %}" class="btn btn-success">Discover events</a>
</div>

<hr />

<div class="youtube-hero">
  <h3 id="youtube-hero-text"></h3>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="youtube-hero" class="embed-responsive-item"></iframe>
  </div>
</div>

<script>
  // deliver a random YouTube embed to the big-ass frame we set up.
  $(document).ready(function() {
    $.ajax({
        method: 'GET',
        url: '{% url "api:homepage-media-list" %}',
        success: function(response) {
          if(response.length > 0) {
            $("#youtube-hero").attr('src', response[0].embed_url);
            $("#youtube-hero-text").html("Find " + response[0].band + " on Evention!");
          }
          else {
            $("#youtube-hero").attr('src', "https://www.youtube.com/embed/yjiJM_Daoa0");
            $("#youtube-hero-text").html("Find " + "The Mountain Goats" + " on Evention!");
          }
        }
    });
  });


</script>

{% endblock %}
