{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}

  <div class="row">
    {% if object.picture %}
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      {% thumbnail object.picture "200x200" crop="center" as im %}

        {% if object == request.user %}
        <a href="#">
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail" data-toggle="tooltip" data-placement="bottom" title="Click image to change.">
        </a>
        {% else %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail">
        {% endif %}
      {% endthumbnail %}
    </div>
    {% endif %}
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}{% if object == request.user %} (<a href="">edit</a>){% endif %}</p>
      {% endif %}
      {% if object == request.user %}
        <p><a href="{% url 'account_email' %}">Update e-mail addresses</a>.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>{{ object.username }}'s favourite cities {% if object == request.user %}<small><a href="{% url 'events:find_cities' %}">(Edit)</a></small>{% endif %}</h3>
      {% if cities.all %}
      <ul class="list-group">
        {% for city in cities %}
          <li class="list-group-item">{{ city.city }}</li>
        {% endfor %}
      </ul>
      {% else %}
        <p>{{ object.username }} apparently doesn't want to go anywhere.</p>
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>{{ object.username }}'s likes {% if object == request.user %}<small><a href="{% url 'events:find_bands' %}">(Edit)</a></small>{% endif %}</h3>
      {% if likes.all %}
        {% for like in likes %}
          <div class="media">
            <div class="media-left">
              <img class="media-object" width="150px" src="{{ like.performer.image }}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ like.performer.name }}</h4>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ object.username }} apparently doesn't like anything. That's kind of sad.</p>
      {% endif %}
    </div>
  </div>



{% endblock content %}
