{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}

  <div class="row">
    {% if object.picture %}
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      {% thumbnail object.picture "200x200" crop="center" as im %}
        <a href="#">
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail" data-toggle="tooltip" data-placement="bottom" title="Click image to change.">
        </a>
      {% endthumbnail %}
    </div>
    {% endif %}
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}

<hr />

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

{% endblock content %}

