{% extends "base.html" %}

{% block content %}

<h2>What bands do you like?</h2>
<div>
    <input class="form-control" data-bind="textInput: bandSearch" placeholder="Start typing..." />
</div>

<div data-bind="foreach: bandResults, visible: bandResults().length > 0" class="media">
    <div class="media-left media-middle">
        <img height="100px" width="100px" data-bind="attr:{src: image}" class="media-object">
    </div>
    <div class="media-body">
        <h4 data-bind="text: name" class="media-heading"></h4>
    </div>
    <hr/>
</div>

{% endblock %}
