{% extends "base.html" %}
{% load staticfiles %}

{% block knockout %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx5I08wMWFpqbOLLmBW6zs90oyTJPyKeA&libraries=places"></script>
<script src="{% static 'js/ko-city.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Your favourite cities</h2>
    <p>We constantly cross-reference your favourite cities with your likes, to give you the best possible event results.</p>
    <p data-bind="noVisibleElements: favouriteCities">Looks like there's nothing here... pick out your favourite cities by typing in the search bar.</p>
    <ul class="list-group" data-bind="foreach: favouriteCities, visible: favouriteCities().length > 0">
      <li data-bind="visible: liked" class="list-group-item">
        <span data-bind="text:city"></span>,
        <span data-bind="visible: region().length > 0">
          <span data-bind="text:region"></span>,
        </span>
        <span data-bind="text:country"></span>
        <p><a data-bind="click: $parent.unlikeCity.bind($parent, '{{ request.user.id }}')" href="#"><span class="text-danger"><span class="glyphicon glyphicon-remove"></span></span> Remove from my list</a></p>
      </li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-6">
    <h2>What <span data-bind="visibleElements: favouriteCities">other </span>cities do you want to visit?</h2>
    <div>
      <input id="city-search" type="search" class="form-control" data-bind="textInput: citySearch" placeholder="Start typing..." />
      <img src="{% static 'images/google-white.png' %}" class="visible-xs">
    </div>

    <ul class="list-group" data-bind="foreach: cityResults, visible: cityResults().length > 0">
      <li data-bind="visible: disliked" class="list-group-item">
        <span data-bind="text:city()"></span>,
        <span data-bind="visible: region().length > 0">
          <span data-bind="text:region"></span>,
        </span>
        <span data-bind="text:country"></span>
        <p><a data-bind="click: $parent.likeCity.bind($parent, '{{ request.user.id }}')" href="#"><span class="text-success"><span class="glyphicon glyphicon-plus"></span></span> Add to my list</a></p>
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#city-search").focus(); // Start typing right away.
  });

  $('#city-search').submit(function(event) {
    event.preventDefault();
  });
</script>

{% endblock %}

{% block footer-branding %}
<img src="{% static 'images/google-black.png' %}" class="google-footer">
{% endblock %}
